<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VotingApp.Properties.Settings.LAPTOP_213ODDUMConnectionString"
            connectionString="Data Source=LAPTOP-213ODDUM;Initial Catalog=LAPTOP-213ODDUM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VotingApp.Properties.Settings.vote_app_dbConnectionString"
            connectionString="Data Source=LAPTOP-213ODDUM;Initial Catalog=vote_app_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>